/* grid-list.component.css */

.lists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .todo-list {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .todo-list:hover {
    transform: scale(1.05);
  }
  
  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-header h3 {
    margin: 0;
  }
  
  .list-header button {
    margin-left: 5px;
  }
  
  .list-body {
    margin-top: 10px;
  }
  
  .mat-icon {
    font-size: 18px;
  }
  
  .completed {
    color: #757575; /* Gray color */
  }
  .mat-strikethrough {
    text-decoration: line-through;
  }
  
  .pinned-list {
    border: 2px solid #ff9800; /* Orange color */
  }
  